<div class="sidebar" [class.sidebar-show]="showSidebar">
  <div class="sidebar__logo flex-justify-center">
    <img src="assets/images/logo-white.svg" />
  </div>

  <div
    class="sidebar__logout flex-justify-center flex-align-center"
    (click)="sessionService.logout()"
  >
    <mat-icon aria-hidden="false" aria-label="Logout">logout</mat-icon>
    <span>Sair</span>
  </div>

  <div class="sidebar__items">
    <ng-container *ngFor="let item of menuItems">
      <div
        class="sidebar__items__item"
        [ngClass]="{ 'is-active': url === item?.link }"
        *ngIf="item.roles.join(' ').includes(authService.getRole())"
      >
        <a class="flex-align-center" [routerLink]="item.link">
          <img [src]="item.icon" />
          <span>
            {{ item?.title }}
          </span>
        </a>
      </div>
    </ng-container>
  </div>
</div>
<button class="menu-button" type="button" (click)="showSidebar = !showSidebar">
  <mat-icon>menu</mat-icon>
</button>
<div class="overlay" *ngIf="showSidebar" (click)="showSidebar = false"></div>
