@import "~src/scss/styles";

.menu-button {
  display: none;
  @media (max-width: 700px) {
    display: block;
    z-index: 10;
  }

  position: absolute;
  top: 20px;
  left: 20px;
  right: auto;
  bottom: auto;

  width: 40px;
  height: 40px;
  border: 1px solid white;
  background: $blue-bg;
  color: white;
  // z-index: 150;
}

.sidebar-show {
  display: block !important;
}

.overlay {
  background: #00000033;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  position: absolute;
  top: 0;
  left: 0;

  display: none;

  @media (max-width: 700px) {
    display: block;
  }
}

.sidebar {
  background-color: $blue-bg;
  height: 100%;
  width: 200px;

  display: block;

  @media (max-width: 700px) {
    display: none;
    position: absolute;
    z-index: 100;
  }

  &__logout {
    text-align: center;
    color: #fff;
    margin-top: -10px;
    cursor: pointer;

    mat-icon {
      margin-right: 10px;
    }
  }
  &__logo {
    img {
      color: #fff;
    }
  }

  &__items {
    margin-top: 20px;

    &__item {
      height: 56px;
      padding: 10px 20px;

      a {
        display: flex;
        text-decoration: none;
        height: 100%;

        img {
          margin-right: 23px;
          max-width: 18px;
        }

        span {
          font-size: 16px;
          text-decoration: none;
          color: #dde2ff;
        }
      }
    }
  }
}

.is-active {
  border-left: 3px solid #dde2ff;
  background-color: lighten($blue-bg, $amount: 3);
}
