<div class="container flex-justify-center flex-align-center">
  <div class="login flex-align-center flex-col">
    <div class="login__logo">
      <img src="assets\images\logo-gray.svg" alt="logo" />
    </div>

    <div class="login__title">
      <h3>Recuperar sua senha</h3>
    </div>

    <form class="login__form" [formGroup]="form" (ngSubmit)="recuperarSenha()">
      <mat-form-field appearance="outline">
        <mat-label>Digite seu email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="seu@email.com"
        />
      </mat-form-field>

      <button
        type="submit"
        class="btn"
        mat-raised-button
        color="primary"
        [disabled]="!form?.valid"
      >
        <div class="btn__wrapper flex-align-center">
          <div style="flex: 1" class="empty"></div>
          <span class="btn-text" style="flex: 1">Recuperar Senha</span>
          <img
            class="arrow"
            style="flex: 1"
            src="assets/icons/right-arrow.svg"
            alt="rightArrow"
          />
        </div>
      </button>
    </form>
  </div>
</div>
