.frete-filtro {
  margin: 5px;
  background: #004aad;
  padding: 5px;
  border-radius: 10px;

  mat-expansion-panel,
  mat-expansion-panel-header {
    background: #004aad !important;
    box-shadow: none !important;
    color: white !important;
  }

  mat-panel-title {
    color: white;
  }

  &__radio {
    display: flex;
    justify-content: space-around;
    align-items: center;

    input {
      margin-right: 1rem;
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__localizacao {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background: white;

    &:first-of-type {
      border-radius: 7px 7px 0 0;
    }

    &:last-of-type {
      border-radius: 0 0 7px 7px;
    }

    &-icone {
      grid-area: 1 / 1 / 3 / 2;
      padding: 1.3rem;

      img {
        width: 28px;
        height: 28px;
      }
    }

    &-label {
      grid-area: 1 / 2 / 2 / 3;
      color: black;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      padding: 0 0 0 10px;
    }

    &-input {
      grid-area: 2 / 2 / 3 / 3;

      input {
        width: 100%;
        background: none;
        border: none;
        outline: none;
        color: black;
        padding: 10px;
      }
    }
  }

  &__row {
    &:not(:first-of-type) {
      margin-top: 1rem;
    }

    ion-radio-group {
      display: flex;
    }

    select {
      width: 100%;
      padding: 0.5rem;
      background: white;
      color: black;
      border-radius: 7px;
      border: none;
      outline: none;
    }
  }

  &__select {
    background: white;
    padding: 0.5rem;
    border-radius: 7px;
  }

  &__buscar {
    background: #012657;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 100px;
    width: 40%;
    height: 30px;
  }

  &__action {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 1000px) {
      flex-direction: column;
    }
  }

  &__limpar {
    background: none;
    border: none;
    outline: none;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    color: white;
  }

  @media (min-width: 1000px) {
    display: none;
  }

  &__desktop {
    @media (max-width: 1000px) {
      display: none;
    }

    padding: 1rem;

    .frete-filtro__container {
      padding: 1rem;
      background-color: #004aad;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      color: white;
    }

    .frete-filtro__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      grid-gap: 1rem;
    }

    .frete-filtro__localizacao {
      flex: 1 200px;
      border-radius: 7px !important;
    }

    .frete-filtro__select {
      flex: 1 150px;
      height: 60px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .frete-filtro__buscar {
      width: 90%;
      margin-bottom: 1rem;
    }
  }
}
