<div class="container flex-justify-center flex-align-center">
  <form class="trucker flex-align-center flex-col" [formGroup]="form">
    <mat-stepper linear="false" #stepper style="width: 100%">
      <mat-step [stepControl]="form">
        <div class="trucker__title">
          <h3>Preencha os dados pessoais</h3>
        </div>

        <div class="trucker__form" formGroupName="trucker">
          <ng-template matStepLabel>Dados pessoais</ng-template>

          <div class="group flex-justify-between">
            <mat-form-field appearance="outline" style="max-width: 515px">
              <mat-label>Seu nome completo</mat-label>
              <input matInput />
            </mat-form-field>

            <mat-form-field appearance="outline" style="max-width: 343px">
              <mat-label>CPF</mat-label>
              <input
                matInput
                formControlName="cpf"
                placeholder="000.000.000-00"
                mask="000.000.000-00"
              />
            </mat-form-field>
          </div>

          <div class="group flex-justify-between">
            <mat-form-field appearance="outline" style="max-width: 381px">
              <mat-label>Número da CNH</mat-label>
              <input matInput formControlName="cnh" mask="0000000009" />
            </mat-form-field>

            <mat-form-field appearance="outline" style="max-width: 476px">
              <mat-label>Data de emissão CNH</mat-label>
              <input
                matInput
                formControlName="data_emissao_cnh"
                placeholder="dd/MM/yyyy"
                mask="00/00/0000"
              />
            </mat-form-field>
          </div>

          <div class="group flex-justify-between">
            <!-- <mat-form-field appearance="outline" style="max-width: 287px;">
              <mat-label>Estado Expedidor</mat-label>
              <input matInput formControlName="estado_expeditor_cnh" placeholder="SP" mask="SS"
                style="text-transform: uppercase;">
            </mat-form-field> -->

            <mat-form-field appearance="outline" style="margin-right: 10px">
              <mat-label>Estado</mat-label>
              <mat-select formControlName="estado_expeditor_cnh">
                <mat-option
                  *ngFor="let option of estadosService?.estados"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" style="max-width: 287px">
              <mat-label>Telefone fixo</mat-label>
              <input
                matInput
                formControlName="telefone"
                placeholder="(00) 0000-0000"
                mask="(00) 0000-0000"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" style="max-width: 287px">
              <mat-label>Celular (Whatsapp)</mat-label>
              <input
                matInput
                formControlName="celular"
                placeholder="(00) 0 0000-0000"
                mask="(00) 0 0000-0000"
              />
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>Possui MOPP?</mat-label>
            <mat-select formControlName="possui_mopp">
              <mat-option *ngFor="let option of options" [value]="option.value">
                {{ option.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button
            type="button"
            class="btn"
            mat-raised-button
            matStepperNext
            color="primary"
            [disabled]="!form.get('trucker')?.valid"
          >
            <div class="btn__wrapper flex-align-center">
              <div style="flex: 1" class="empty"></div>
              <span class="btn-text" style="flex: 1">Próximo</span>
              <img
                class="arrow"
                style="flex: 1"
                src="assets/icons/right-arrow.svg"
                alt="rightArrow"
              />
            </div>
          </button>
        </div>
      </mat-step>

      <mat-step [stepControl]="form" label="Preencha seus dados">
        <div class="trucker__form" formGroupName="truck">
          <ng-template matStepLabel>Dados do veículo</ng-template>

          <div class="trucker__title">
            <h3>Falta pouco! Fale sobre seu veículo</h3>
          </div>

          <div class="group flex-justify-between">
            <mat-form-field appearance="outline">
              <mat-label>Marca</mat-label>
              <mat-select formControlName="marca">
                <mat-option *ngFor="let option of marcas" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Modelo</mat-label>
              <mat-select formControlName="modelo">
                <mat-option *ngFor="let option of modelos" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Cor</mat-label>
              <input matInput formControlName="cor" />
              <!-- <mat-select formControlName="cor">
                <mat-option
                  *ngFor="let option of cores"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-select> -->
            </mat-form-field>
          </div>

          <div class="group flex-justify-between">
            <mat-form-field appearance="outline">
              <mat-label>Placa</mat-label>
              <input matInput formControlName="placa" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Ano</mat-label>
              <input matInput formControlName="ano" mask="0000" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Renavam</mat-label>
              <input matInput formControlName="renavam" mask="00000000099" />
            </mat-form-field>
          </div>

          <div class="group flex-justify-between">
            <mat-form-field appearance="outline">
              <mat-label>Tipo de veículo</mat-label>
              <mat-select formControlName="tipo_veiculo">
                <mat-option
                  *ngFor="let option of truckerService?.tipoVeiculo"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Tipo de carreta</mat-label>
              <mat-select formControlName="tipo_carreta">
                <mat-option
                  *ngFor="let option of truckerService?.tipoCarreta"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Tipo de carroceria</mat-label>
              <mat-select formControlName="tipo_carroceria">
                <mat-option
                  *ngFor="let option of truckerService?.tipoCarroceria"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <button
            type="button"
            class="btn"
            mat-raised-button
            matStepperNext
            color="primary"
            [disabled]="!form?.valid"
            (click)="submit()"
          >
            <div class="btn__wrapper flex-align-center">
              <div style="flex: 1" class="empty"></div>
              <span class="btn-text" style="flex: 1">Próximo</span>
              <img
                class="arrow"
                style="flex: 1"
                src="assets/icons/right-arrow.svg"
                alt="rightArrow"
              />
            </div>
          </button>
          <button
            type="button"
            class="btn"
            mat-raised-button
            matStepperPrevious
            color="primary"
          >
            <div class="btn__wrapper flex-align-center">
              <div style="flex: 1" class="empty"></div>
              <span class="btn-text" style="flex: 1">Voltar</span>
              <img
                class="arrow"
                style="flex: 1; transform: rotate(180deg)"
                src="assets/icons/right-arrow.svg"
                alt="rightArrow"
              />
            </div>
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </form>
</div>
