@import "~src/scss/styles";

.container {
  width: 100vw;

  height: 100%;

  background: url("/assets/images/trucker-register-background.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  overflow-x: auto;

  .trucker {
    background-color: #fff;

    width: 100%;

    @media (max-width: 1000px) {
      padding: 10px;
      max-width: 480px;
      width: 90%;

      overflow-y: auto;

      height: auto;
      max-height: 90%;
    }

    padding: 20px 55px 20px 55px;

    border-radius: 20px;
    max-width: 780px;

    &__title {
      margin-top: 70px;

      @media (max-width: 1000px) {
        margin-top: 10px;
      }

      h3 {
        font-weight: 700;

        @media (max-width: 1000px) {
          font-size: 24px;
        }
      }
    }

    &__form {
      margin-top: 30px;

      width: 100%;

      .group {
        mat-form-field {
          max-width: 318px;
          margin: 0 5px 0 5px;
        }

        @media (max-width: 1000px) {
          flex-wrap: wrap;
          // flex-direction: column;

          mat-form-field {
            max-width: 100%;
          }
        }
      }
    }

    mat-form-field {
      width: 100%;

      font-size: 24px;

      @media (max-width: 1000px) {
        font-size: 12px;
      }
    }

    mat-stepper {
      @media (max-width: 1000px) {
        width: 90%;
      }
    }
  }
}

::ng-deep
  mat-form-field.mat-form-field-appearance-outline
  .mat-form-field-wrapper {
  max-height: 56px;
  border-radius: 20px;
}

.btn {
  width: 100%;
  height: 72px;
  font-weight: 700;

  font-size: 36px;
  margin-top: 35px;

  background-color: $blue-bg;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 1000px) {
    height: 46px;
    font-size: 24px;

    img {
      display: none;
    }
  }
}

.empty {
  flex: 1;

  @media (max-width: 1000px) {
    display: none;
  }
}

.arrow {
  width: 39px;
  height: 27px;
}
