<div class="container flex-justify-center flex-align-center">
  <form
    class="company flex-align-center flex-col"
    [formGroup]="form"
    (ngSubmit)="criarAnuncio()"
  >
    <mat-stepper linear="false" #stepper>
      <mat-step [stepControl]="form">
        <div class="company__title">
          <h3>Vamos começar colocando o titulo</h3>
        </div>

        <div class="company__form" formGroupName="dadosAnuncio">
          <ng-template matStepLabel>Título</ng-template>

          <div
            class="group flex-justify-between"
            style="flex-direction: column"
          >
            <mat-form-field appearance="outline" style="margin-right: 10px">
              <mat-label>Título do anúncio</mat-label>
              <input
                matInput
                formControlName="titulo"
                placeholder="Exemplo: Pneu aro 15 185/60R15"
              />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Selecione seu segmento</mat-label>
              <mat-select
                formControlName="segmento"
                placeholder="Selecione seu segmento "
              >
                <mat-option
                  *ngFor="let segmento of segmentos"
                  [value]="segmento"
                >
                  {{ segmento }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <button
            type="button"
            class="btn"
            mat-raised-button
            matStepperNext
            color="primary"
            style="margin-top: 100px"
            [disabled]="!form.get('dadosAnuncio')?.valid"
          >
            <div class="btn__wrapper flex-align-center">
              <div style="flex: 1" class="empty"></div>
              <span class="btn-text" style="flex: 1">Próximo</span>
              <img
                class="arrow"
                style="flex: 1"
                src="assets/icons/right-arrow.svg"
                alt="rightArrow"
              />
            </div>
          </button>
        </div>
      </mat-step>

      <mat-step [stepControl]="form" label="Preencha seus dados">
        <div class="company__title">
          <h3>Agora informe sobre o produto</h3>
        </div>

        <div class="company__form" formGroupName="produto">
          <ng-template matStepLabel>Informações do produto</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Preço de venda</mat-label>
            <!-- mask="0,00 || 00,00 || 000,00 || 0.000,00 || 00.000,00 || 000.000,00 || 0.000.000,00 || 00.000.000,00 || 000.000.000,00" -->
            <input
              matInput
              thousandSeparator="."
              prefix="R$"
              suffixPosition="left"
              [dropSpecialCharacters]="false"
              mask="separator.2"
              formControlName="preco"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Link para adquirir o produto</mat-label>
            <!-- mask="0,00 || 00,00 || 000,00 || 0.000,00 || 00.000,00 || 000.000,00 || 0.000.000,00 || 00.000.000,00 || 000.000.000,00" -->
            <input
              matInput
              placeholder="www.meusite.com.br/produtos/meu-produto"
              formControlName="url"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Descrição </mat-label>
            <textarea
              formControlName="descricao"
              maxlength="300"
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="5"
              cdkAutosizeMaxRows="5"
            ></textarea>
          </mat-form-field>

          <div class="descricao-tamanho">
            <p>
              {{ form.get("produto")?.get("descricao")?.value?.length || 0 }} /
              300 caracteres
            </p>
          </div>

          <button
            type="button"
            class="btn"
            mat-raised-button
            matStepperNext
            color="primary"
            [disabled]="!form.get('produto')?.valid"
          >
            <div class="btn__wrapper flex-align-center">
              <div style="flex: 1" class="empty"></div>
              <span class="btn-text" style="flex: 1">Próximo</span>
              <img
                class="arrow"
                style="flex: 1"
                src="assets/icons/right-arrow.svg"
                alt="rightArrow"
              />
            </div>
          </button>
        </div>
      </mat-step>

      <mat-step [stepControl]="form">
        <div class="company__title">
          <h3>Agora informe sobre o produto</h3>
        </div>

        <div class="company__form" formGroupName="finalizar">
          <ng-template matStepLabel>Título</ng-template>

          <div
            class="group flex-justify-between"
            style="flex-direction: column"
          >
            <mat-form-field appearance="outline">
              <mat-label>Selecione o tempo de exibição </mat-label>
              <mat-select
                formControlName="tempo_dias"
                placeholder="Selecione seu segmento "
              >
                <mat-option
                  *ngFor="let option of quantidadeDias"
                  [value]="option"
                >
                  {{ option }} dias
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- <mat-form-field appearance="outline" style="margin-right: 10px"> -->
            <p>Suba a primeira arte usada para o anuncio</p>
            <!-- <input matInput formControlName="arteAnuncio" /> -->
            <input
              type="file"
              accept=".gif,.jpg,.jpeg,.png"
              #logoInput
              (change)="onChange($event)"
              style="display: none"
              formControlName="arteAnuncio"
            />
            <button
              type="button"
              class="btn"
              mat-raised-button
              color="primary"
              (click)="logoInput.click()"
            >
              <div class="btn__wrapper flex-align-center">
                <div style="flex: 1" class="empty"></div>
                <span class="btn-text" style="flex: 1">Fazer Upload</span>
                <img
                  class="arrow"
                  style="flex: 1; transform: rotate(-90deg) scale(0.8)"
                  src="assets/icons/right-arrow.svg"
                  alt="rightArrow"
                />
              </div>
            </button>

            <p>Suba a arte para ser usada como destaque na listagem</p>
            <!-- <input matInput formControlName="arteAnuncio" /> -->
            <input
              type="file"
              accept=".gif,.jpg,.jpeg,.png"
              #logoInput2
              (change)="onChangeImagem2($event)"
              style="display: none"
              formControlName="arteAnuncio2"
            />
            <button
              type="button"
              class="btn"
              mat-raised-button
              color="primary"
              (click)="logoInput2.click()"
            >
              <div class="btn__wrapper flex-align-center">
                <div style="flex: 1" class="empty"></div>
                <span class="btn-text" style="flex: 1">Fazer Upload</span>
                <img
                  class="arrow"
                  style="flex: 1; transform: rotate(-90deg) scale(0.8)"
                  src="assets/icons/right-arrow.svg"
                  alt="rightArrow"
                />
              </div>
            </button>
            <!-- </mat-form-field> -->
          </div>

          <button
            type="submit"
            class="btn"
            mat-raised-button
            matStepperNext
            color="primary"
            style="margin-top: 100px"
            [disabled]="!form.get('finalizar')?.valid"
          >
            <div class="btn__wrapper flex-align-center">
              <div style="flex: 1" class="empty"></div>
              <span class="btn-text" style="flex: 1">Finalizar</span>
              <img
                class="arrow"
                style="flex: 1"
                src="assets/icons/right-arrow.svg"
                alt="rightArrow"
              />
            </div>
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </form>
</div>
