@import "~src/scss/styles";

.container {
  // min-width: 900px;
  // width: 100vw;
  // height: 100%;

  @media (max-width: 1000px) {
    width: 100%;
  }

  .company {
    background-color: #fff;

    width: 100%;
    padding: 20px 55px 20px 55px;

    border-radius: 20px;
    max-width: 780px;

    overflow-y: auto;

    @media (max-width: 1000px) {
      padding: 10px;
    }

    &__title {
      margin-top: 70px;

      h3 {
        font-weight: 700;

        @media (max-width: 1000px) {
          font-size: 24px;
        }
      }
    }

    &__form {
      margin-top: 20px;

      width: 100%;

      .group {
        @media (max-width: 1000px) {
          flex-wrap: wrap;
          // flex-direction: column;

          mat-form-field {
            max-width: 100%;
          }
        }
      }
    }

    mat-form-field {
      width: 100%;

      font-size: 16px;

      .counter {
        position: absolute;
        color: #919191;
        font-weight: 300;
        font-size: 24px;
        bottom: -30px;
        right: 10px;

        @media (max-width: 1000px) {
          font-size: 12px;
        }
      }

      @media (max-width: 1000px) {
        font-size: 12px;
      }
    }

    mat-stepper {
      @media (max-width: 1000px) {
        width: 90%;
      }
    }
  }
}

.btn {
  width: 100%;
  height: 72px;
  font-weight: 700;

  font-size: 24px;
  margin-top: 35px;

  background-color: $blue-bg;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 1000px) {
    height: 46px;
    font-size: 24px;

    img {
      display: none;
    }
  }
}

.empty {
  flex: 1;

  @media (max-width: 1000px) {
    display: none;
  }
}

.arrow {
  width: 39px;
  height: 27px;
}

::ng-deep
  mat-form-field.mat-form-field-appearance-outline
  .mat-form-field-wrapper {
  max-height: 66px;
  // border-radius: 20px;
}

::ng-deep .mat-form-field-outline-start {
  // border-radius: 20px !important;
  border-radius: 10px 0 0 10px !important;
}

::ng-deep .mat-form-field-outline-end {
  border-radius: 0 10px 10px 0 !important;
}

.descricao-tamanho {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  color: $blue-bg;
}
