@import "~src/scss/styles";

.anuncios {
  display: flex;
  flex-direction: column;

  // justify-content: center;
  // align-items: center;

  padding: 76px 20px;

  margin: 0 auto;

  width: 100%;
  max-width: 1090px;

  @media (max-width: 1000px) {
    padding: 10px 0;
  }

  &__new {
    display: flex;
    justify-content: center;
    align-items: center;

    align-self: flex-end;

    font-weight: 900;
    font-size: 18px;
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #919191;
    color: #919191;
    padding: 18px 30px;
    cursor: pointer;

    max-width: 202px;

    img {
      margin-right: 8px;
    }

    @media (max-width: 1000px) {
      font-size: 12px;

      align-self: center;
      width: auto;
      max-width: 90%;
    }
  }

  &__list {
    margin-top: 20px;

    @media (max-width: 1000px) {
      padding: 10px;
      margin-top: 0;
    }

    .no-shipping {
      font-size: 24px;

      @media (max-width: 1000px) {
        font-size: 12px;
      }
    }

    &__card {
      background: #ffffff;
      border: 1px solid #d6d6d6;
      border-radius: 13px;
      padding: 26px 40px;

      margin-top: 15px;

      align-items: flex-start;

      & > div {
        flex: 2;
        // flex-grow: 1;

        @media (max-width: 1000px) {
          margin-top: 20px;
        }
      }

      .actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
          outline: none;
          border: none;
          background: none;
          cursor: pointer;

          transition: 0.2s ease;
        }

        &__approval {
          display: flex;
          flex-direction: column;

          button {
            border-radius: 20px;
            width: 100px;
            height: 30px;
            margin: 5px;

            color: #fff;
          }

          .approve {
            background-color: $blue-bg;
          }

          .disapprove {
            background-color: red;
          }
        }

        @media (max-width: 1000px) {
          justify-content: center;

          button {
            mat-icon {
              margin-top: 10px;

              font-size: 30px;
            }
          }
        }
      }

      @media (max-width: 1000px) {
        flex-direction: column;
        padding: 26px 10px;
        border: 3px solid #d6d6d6;
      }
    }
  }
}

.fix-icon {
  display: flex;

  align-items: center;

  img {
    margin-right: 10px;
  }
}
