@import "~src/scss/styles";

.details {
  // overflow: auto;

  max-height: 500px;

  @media (max-width: 300px) {
    max-height: 250px;
  }

  &__close {
    .close-button {
      border: none;
      background: none;
      cursor: pointer;
    }
  }

  &__info {
    &__logo {
      margin-right: 40px;
      width: 150px;
      height: 150px;
      object-fit: cover;

      @media (max-width: 1360px) {
        display: none;
      }
    }

    &__infos {
      max-width: 400px;
    }

    &__bottom {
      margin-left: 20px;

      @media (max-width: 1360px) {
        margin-left: 0;
      }
    }

    &__buttons {
      margin-top: 40px;

      p {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        text-align: center;
        color: #012657;
      }

      button {
        width: 270px;
        height: 57px;
        font-weight: 900;
        font-size: 18px;
        cursor: pointer;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        // border-radius: 20px;
        @media (max-width: 1000px) {
          width: 100%;
          margin-top: 10px;
        }
      }

      .details {
        color: #fff;
        background-color: #012657;
        border-color: #012657;
        margin-right: 5px;
      }

      .share {
        color: #004aad;
        background-color: #fff;
        border-color: #004aad;
      }

      @media (max-width: 1000px) {
        flex-direction: column;
        align-content: center;
        width: 100%;
        padding-bottom: 10px;
      }
    }
  }
}

.c-input-info {
  margin-right: 30px;
  margin-top: 20px;
}
