// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

$colors: (
  "blue": #004aad
) !default;

$theme-colors: (
  primary: map-get($colors, "blue"),
  secondary: map-get($colors, "yellow"),
  tertiary: map-get($colors, "orange"),
  success: map-get($colors, "purple"),
  info: map-get($colors, "blue"),
  warning: map-get($colors, "orange"),
  danger: map-get($colors, "red")
) !default;

$blue-bg: map-get($colors, "blue");

.primary {
  color: $blue-bg;
}
