// ::ng-deep .mat-form-field-outline-start {
//   // border-radius: 20px !important;
//   border-radius: 20px 0 0 20px !important;
// }

// ::ng-deep .mat-form-field-outline-end {
//   border-radius: 0 20px 20px 0 !important;
// }

// .invert-x {
//   transform: rotateX(180deg);
// }

// .invert-y {
//   transform: rotateY(180deg);
// }

.invert {
  transform: rotate(180deg);
}

.c-input-file {
  width: 100%;

  input[type="file"] {
    display: none;
  }

  label {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #919191;
    font-size: 24px;

    width: 100%;
    background-color: #efefef;

    height: 56px;

    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    transition: 0.3s ease;

    &:hover {
      box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    }

    img {
      position: absolute;

      right: 10%;

      @media (max-width: 1000px) {
        display: none;
      }
    }

    @media (max-width: 1000px) {
      font-size: 12px;
    }
  }
}

.c-input-info {
  display: flex;
  flex-direction: column;

  font-size: 14px;

  .info {
    margin-top: 7px;
  }

  span {
    img {
      max-width: 20px;
      max-height: 20px;
    }
  }

  // @media (max-width: 1000px) {
  //   width: 100%;
  //   align-items: flex-start;
  //   justify-content: flex-start;
  // }
}

.bold {
  font-weight: bold;
}

.flex-wrap {
  flex-wrap: wrap;
}
