<ng-container *ngIf="pesquisa; else loaderGeral">
  <app-loader-pesquisa>
  </app-loader-pesquisa>
</ng-container>
<ng-template #loaderGeral>
  <app-loader-geral>
  </app-loader-geral>
</ng-template>

