<div class="container flex-justify-center flex-align-center">
  <div class="login flex-align-center flex-col">
    <div class="login__logo">
      <img src="assets\images\logo-gray.svg" alt="logo" />
    </div>

    <div class="login__title">
      <h3>Acessar sua conta</h3>
    </div>

    <form class="login__form" [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field appearance="outline">
        <mat-label>Digite seu email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="seu@email.com"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Coloque sua senha</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="***********"
        />
      </mat-form-field>

      <button
        type="submit"
        class="btn"
        mat-raised-button
        color="primary"
        [disabled]="!form?.valid"
      >
        <div class="btn__wrapper flex-align-center">
          <div style="flex: 1" class="empty"></div>
          <span class="btn-text" style="flex: 1">Entrar</span>
          <img
            class="arrow"
            style="flex: 1"
            src="assets/icons/right-arrow.svg"
            alt="rightArrow"
          />
        </div>
      </button>
    </form>

    <button
      type="button"
      class="btn register"
      mat-raised-button
      (click)="register()"
    >
      <div class="btn__wrapper flex-align-center">
        <img
          class="arrow primary"
          style="flex: 1"
          src="assets/icons/left-blue-arrow.svg"
          alt="rightArrow"
        />
        <span class="btn-text" style="flex: 1">Cadastre agora</span>
        <div style="flex: 1" class="empty"></div>
      </div>
    </button>

    <button
      type="button"
      class="btn register"
      mat-raised-button
      [routerLink]="['/recuperar-senha']"
    >
      <div class="btn__wrapper flex-align-center">
        <span class="btn-text" style="flex: 1 100%">Recuperar Senha</span>
        <div style="flex: 1" class="empty"></div>
      </div>
    </button>
  </div>
</div>
