<div class="container flex-justify-center flex-align-center">
  <div class="register flex-align-center flex-col">
    <div class="register__title">
      <h3>Seja bem vindo</h3>
    </div>

    <form class="register__form" [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>Nos conte qual seu nome</mat-label>
        <input formControlName="name" matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Digite sua senha</mat-label>
        <input
          formControlName="password"
          matInput
          type="password"
          placeholder="***********"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirme seu email</mat-label>
        <input formControlName="email" matInput placeholder="seu@email.com" />
      </mat-form-field>

      <mat-radio-group
        aria-label="Selecione"
        class="radio-group flex-justify-center"
        formControlName="formType"
      >
        <span style="margin-right: 18px">Selecione</span>
        <mat-radio-button color="primary" style="margin-right: 16px" value="1">
          Transportadora
        </mat-radio-button>
        <mat-radio-button color="primary" style="margin-right: 16px" value="2">
          Caminhoneiro
        </mat-radio-button>
        <mat-radio-button color="primary" value="3">
          Anunciante
        </mat-radio-button>
      </mat-radio-group>

      <button
        type="button"
        class="btn"
        mat-raised-button
        color="primary"
        (click)="sendForm()"
        [disabled]="!form.valid"
      >
        <div class="btn__wrapper flex-align-center">
          <div style="flex: 1" class="empty"></div>
          <span
            class="btn-text"
            style="flex: 1"
            *ngIf="form.get('formType')?.value != 3"
          >
            Próximo
          </span>
          <span
            class="btn-text"
            style="flex: 1"
            *ngIf="form.get('formType')?.value == 3"
          >
            Cadastrar
          </span>
          <img
            class="arrow"
            style="flex: 1"
            src="assets/icons/right-arrow.svg"
            alt="rightArrow"
          />
        </div>
      </button>
    </form>
  </div>
</div>
