<div class="anuncio">
  <h3 class="anuncio__title">Seu frete esta em aprovação</h3>

  <span class="anuncio__text">Nós revisaremos todos os dados e em breve notificaremos em seu e-mail</span>

  <span class="anuncio__text">Quando efetuar o pagamento, informe o código abaixo para que o seu pagamento seja
    identificado:</span>

  <span class="anuncio__code">{{ data?.codigo_frete }}</span>

  <div class="anuncio__actions">
    <button class="payment" mat-raised-button (click)="efetuarPagamento()">Efetuar o pagamento</button>
    <button type="button" class="home" mat-raised-button (click)="sendToHome()">
      <div class="wrapper flex-justify-between flex-align-center">
        <div class="empty"></div>
        <span>Ir para a tela inicial</span>
        <img class="arrow" src="assets/icons/right-arrow.svg" alt="rightArrow">
      </div>
    </button>
  </div>
</div>
