@import "~src/scss/styles";

:host {
  height: 100%;
}

.fretes {
  // padding: 42px;
  // max-height: calc(100vh - 235px);
  // overflow-y: scroll;

  @media (max-width: 1000px) {
    // padding: 10px;
  }

  @media (max-width: 700px) {
    // margin-top: 5rem !important;

    &__filter {
      flex-direction: column-reverse !important;
      grid-gap: 1rem !important;
      margin-top: 1rem !important;
    }
  }

  &__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;

    &-resultados {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
      letter-spacing: 0.3px;
      color: #004aad;
      margin-top: 1rem;
    }

    &-ordenacao {
      background: #ffffff;
      border: 1px solid #9a9a9a;
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 13px;
      width: 15rem;
      padding: 0.5rem 1rem;
    }
  }

  &__list {
    &__card {
      position: relative;

      .logo {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-right: 10px;

        @media (max-width: 1000px) {
          align-self: center;
        }
      }
      margin: 0 auto;

      width: 90%;
      max-width: 1090px;

      margin-top: 15px;

      border: 1px solid #9a9a9a;

      border-radius: 13px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      height: 125px;
      padding: 40px;

      // min-width: 900px;

      & > div {
        flex: 1;
      }

      &__infos {
        &__data {
          // & > div {
          //   flex: 1;
          // }

          font-size: 14px;
          & > img {
            margin: 0 7px;

            @media (max-width: 1000px) {
              display: none;
            }
          }

          .location {
            max-width: 120px;

            @media (max-width: 1000px) {
              margin-top: 10px;
            }
          }

          .location span > img {
            margin-right: 10px;
          }

          @media (max-width: 1000px) {
            flex-direction: column;
          }
        }

        &__input {
          margin-top: 26px;

          @media (max-width: 1000px) {
            margin-top: 10px;
          }
        }
      }

      &__actions {
        &__top {
          margin-bottom: 30px;

          .mais-fretes {
            border: none;
            background: none;
            max-width: 134px;
            font-weight: 900;
            font-size: 14px;
            outline: none;
            cursor: pointer;
            word-wrap: break-word;

            &:hover {
              box-shadow: none;
            }
          }

          @media (max-width: 1000px) {
            flex-direction: column;

            .c-input-info {
              margin-top: 15px;
              width: 100%;
              align-content: flex-start;
            }

            .mais-fretes {
              padding: 0;
              margin: 0;
              margin-top: 10px;
              text-align: left;
            }
          }
        }

        &__buttons {
          button {
            width: 202px;
            height: 57px;
            font-weight: 900;
            font-size: 18px;
            cursor: pointer;
            // border-radius: 20px;
          }

          .details {
            color: #fff;
            background-color: #012657;
            border-color: #012657;
            margin-right: 5px;
          }

          .share {
            color: #004aad;
            background-color: #fff;
            border-color: #004aad;
          }

          @media (max-width: 1000px) {
            flex-direction: column;

            button {
              font-size: 12px;
              width: 100%;

              margin-top: 10px;
            }

            .share {
              img {
                display: none;
              }
            }
          }
        }

        @media (max-width: 1000px) {
          flex-direction: column;
          align-content: center;

          width: 100%;
        }
      }

      @media (max-width: 1000px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        height: 100%;

        padding: 10px;
      }
    }
  }

  &__favorito {
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 5;
    cursor: pointer;
  }
}

.sem-resultados {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__icone {
    width: 50%;
    margin: 2rem auto 0rem;
  }

  &__titulo {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #012657;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__mensagem {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #012657;
  }
}

#heart {
  position: relative;
  width: 100px;
  height: 90px;
  margin-top: 10px;
  transform: scale(0.3);
}

#heart::before,
#heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 52px;
  height: 80px;
  border-radius: 50px 50px 0 0;
  background: red;
}

#heart::before {
  left: 50px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

#heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
