<app-fretes-buscar
  [opcoesCarrocerias]="opcoesCarrocerias"
  [opcoesDestino]="opcoesDestino"
  [opcoesOrigem]="opcoesOrigem"
  [opcoesVeiculos]="opcoesVeiculos"
  [buscarFretesForm]="buscarFretesForm"
  (filtrarFretesEvent)="filtrarFretes($event)"
></app-fretes-buscar>

<div class="fretes">
  <div class="fretes__filter">
    <div class="fretes__filter-resultados">
      Resultados da pesquisa ({{ fretes.length }})
    </div>
    <div class="fretes__filter-ordenacao">
      <mat-select
        [(ngModel)]="ordenacaoListagem"
        (ngModelChange)="reordenarListagem()"
      >
        <mat-option *ngFor="let item of opcoesOrdenacao" [value]="item.valor">
          {{ item.descricao }}
        </mat-option>
      </mat-select>
    </div>
  </div>
  <div class="fretes__list flex-justify-center flex-col">
    <ng-container *ngIf="fretes.length > 0; else naoEncontradoFrete">
      <div
        class="fretes__list__card flex-justify-between flex-align-center"
        *ngFor="let frete of fretes; let index = index"
      >
        <div class="fretes__favorito">
          <ng-container *ngIf="!isAdmin">
            <div
              id="heart"
              *ngIf="favoritos.has(frete.id)"
              (click)="removerFavorito(frete.id!)"
            ></div>
            <img
              (click)="adicionarFavorito(frete.id!)"
              *ngIf="!favoritos.has(frete.id)"
              src="./assets/icons/heart-icon.png"
              alt="Heart Icon"
              style="margin: 35px; width: 30px"
            />
          </ng-container>
        </div>
        <img class="logo" [src]="getImageLink(frete)" />
        <span>{{ frete?.razao_social }}</span>

        <div class="fretes__list__card__infos">
          <div class="fretes__list__card__infos__data flex-justify-between">
            <div class="location flex-justify-center flex-col">
              <span class="flex-align-center bold">
                <img src="/assets/icons/fretes_origin.svg" /> Origem
              </span>
              <span style="margin-top: 7px">
                {{ frete?.cidade_coleta }} -
                {{ frete?.estado_coleta?.toUpperCase() }}
              </span>
            </div>

            <img src="/assets/icons/fretes_gray_square_arrows.svg" />

            <div class="location flex-justify-center flex-col">
              <span class="flex-align-center bold"
                ><img src="/assets/icons/fretes_destiny.svg" /> Destino</span
              >
              <span style="margin-top: 7px"
                >{{ frete?.cidade_entrega }} -
                {{ frete?.estado_entrega?.toUpperCase() }}</span
              >
            </div>
          </div>

          <div class="fretes__list__card__infos__data flex-justify-between">
            <div class="fretes__list__card__infos__input c-input-info">
              <span class="bold">Veículo</span>
              <span class="info">{{ frete?.tipo_veiculo }}</span>
            </div>

            <div class="fretes__list__card__infos__input c-input-info">
              <span class="bold">Carroceria</span>
              <span class="info">{{ frete?.tipo_carroceria }}</span>
            </div>

            <div class="fretes__list__card__infos__input c-input-info">
              <span class="bold">Peso</span>
              <span class="info">{{ frete?.peso_toneladas }} toneladas</span>
            </div>
          </div>
        </div>

        <div class="fretes__list__card__actions">
          <div
            class="fretes__list__card__actions__top flex-justify-around flex-align-center"
          >
            <div class="c-input-info">
              <span class="bold">Valor</span>
              <span class="info">{{
                frete?.valor_frete | currency: "BRL"
              }}</span>
            </div>

            <button class="mais-fretes">
              <!-- Ver mais fretes dessa empresa -->
            </button>
          </div>

          <div class="fretes__list__card__actions__buttons flex-justify-around">
            <button class="details" (click)="openDialog(frete)">
              Detalhes do frete
            </button>
            <button class="share flex-justify-center flex-align-center">
              Compartilhar
              <img
                style="margin-left: 4px"
                src="/assets/icons/fretes_share.svg"
              />
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #naoEncontradoFrete>
      <div *ngIf="carregado">
        <div class="sem-resultados">
          <div class="sem-resultados__container">
            <div class="sem-resultados__icone">
              <img
                src="./assets/icons/icone-sem-resultados.svg"
                alt="Sem resultados"
              />
            </div>
            <div class="sem-resultados__titulo">Desculpe!</div>
            <div class="sem-resultados__mensagem">
              Não foi possível buscar o que procurou... <br />
              Por favor tente outro destino ou palavra
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
