<div class="container flex-justify-center flex-align-center">
  <form class="company flex-align-center flex-col" [formGroup]="form">
    <mat-stepper linear="false" #stepper>
      <mat-step [stepControl]="form">
        <div class="company__title">
          <h3>Informe os dados do frete</h3>
        </div>

        <div class="company__form" formGroupName="dadosFrete">
          <ng-template matStepLabel>Informações do anúncio</ng-template>

          <div class="group flex-justify-between">
            <mat-form-field appearance="outline" style="margin-right: 10px">
              <mat-label>Tipo de veículo</mat-label>
              <mat-select formControlName="tipo_veiculo" multiple>
                <mat-option
                  *ngFor="let option of truckerService?.tipoVeiculo"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Tipo de carreta</mat-label>
              <mat-select formControlName="tipo_carreta" multiple>
                <mat-option
                  *ngFor="let option of truckerService?.tipoCarreta"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>Tipo de carroceria</mat-label>
            <mat-select formControlName="tipo_carroceria">
              <mat-option
                *ngFor="let option of truckerService?.tipoCarroceria"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Dimensões internas mínimas da carroceria</mat-label>
            <input matInput formControlName="dimensoes_minimas" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Requesitos extras do caminhão</mat-label>
            <textarea
              formControlName="requisitos_extras"
              maxlength="300"
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="5"
              cdkAutosizeMaxRows="5"
            ></textarea>
            <span class="counter"
              >{{
                form?.get("dadosFrete")?.get("requisitos_extras")?.value
                  ?.length || 0
              }}/300</span
            >
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            style="margin-right: 10px; margin-top: 50px"
          >
            <mat-label>Prazo de vinculação do anúncio</mat-label>
            <mat-select formControlName="dataDias">
              <mat-option
                *ngFor="let option of ['30 dias', '90 dias', '1 ano']"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="check-main">
            <div class="check">
              <label
                ><input
                  formControlName="possui_rastreio"
                  type="checkbox"
                  name="rastreio"
                  value=""
                />Possui rastreio</label
              >
            </div>
            <div class="check">
              <label
                ><input
                  formControlName="possui_movp"
                  type="checkbox"
                  name="rastreio"
                  [value]="true"
                />Com MOPP</label
              >
            </div>
          </div>
          <button
            type="button"
            class="btn"
            mat-raised-button
            matStepperNext
            color="primary"
            [disabled]="!form.get('dadosFrete')?.valid"
          >
            <div class="btn__wrapper flex-align-center">
              <div style="flex: 1" class="empty"></div>
              <span class="btn-text" style="flex: 1">Próximo</span>
              <img
                class="arrow"
                style="flex: 1"
                src="assets/icons/right-arrow.svg"
                alt="rightArrow"
              />
            </div>
          </button>
        </div>
      </mat-step>

      <mat-step [stepControl]="form" label="Preencha seus dados">
        <div class="company__title">
          <h3>Informe sobre o produto</h3>
        </div>

        <div class="company__form" formGroupName="produto">
          <ng-template matStepLabel>Produto</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Preenche o tipo de produto</mat-label>
            <input matInput formControlName="tipo_produto" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Acondicionamento do produto</mat-label>
            <mat-select formControlName="acondicionamento_produto">
              <mat-option
                *ngFor="let option of acondicionamentoProdutos"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button
            type="button"
            class="btn"
            mat-raised-button
            matStepperNext
            color="primary"
            [disabled]="!form.get('produto')?.valid"
          >
            <div class="btn__wrapper flex-align-center">
              <div style="flex: 1" class="empty"></div>
              <span class="btn-text" style="flex: 1">Próximo</span>
              <img
                class="arrow"
                style="flex: 1"
                src="assets/icons/right-arrow.svg"
                alt="rightArrow"
              />
            </div>
          </button>
        </div>
      </mat-step>

      <mat-step [stepControl]="form">
        <div class="company__title">
          <h3>Informe sobre o frete</h3>
        </div>

        <div class="company__form" formGroupName="frete">
          <ng-template matStepLabel>Frete</ng-template>

          <mat-form-field appearance="outline">
            <mat-label>Nome do responsável</mat-label>
            <input matInput formControlName="nome_responsavel_coleta" />
          </mat-form-field>

          <div class="group flex-justify-between">
            <mat-form-field appearance="outline" style="margin-right: 10px">
              <mat-label>Data da coleta</mat-label>
              <input matInput formControlName="data_coleta" mask="00/00/0000" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Celular</mat-label>
              <input
                matInput
                formControlName="celular_coleta"
                mask="(00) 0 0000-0000"
                placeholder="(00) 0 0000-0000"
              />
            </mat-form-field>
          </div>

          <div class="group flex-justify-between">
            <mat-form-field appearance="outline" style="margin-right: 10px">
              <mat-label>Valor do frete</mat-label>
              <input
                matInput
                formControlName="valor_frete"
                thousandSeparator="."
                prefix="R$"
                suffixPosition="left"
                [dropSpecialCharacters]="false"
                mask="separator.2"
              />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Peso</mat-label>
              <input
                matInput
                formControlName="peso_toneladas"
                placeholder="(*) peso em toneladas"
                type="number"
              />
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>Endereço para coleta</mat-label>
            <input matInput formControlName="endereco_coleta" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Cidade</mat-label>
            <input
              matInput
              formControlName="cidade_coleta"
              style="text-transform: capitalize"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" style="margin-right: 10px">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado_coleta">
              <mat-option
                *ngFor="let option of estadosService?.estados"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button
            type="button"
            class="btn"
            mat-raised-button
            matStepperNext
            color="primary"
            [disabled]="!form.get('frete')?.valid"
          >
            <div class="btn__wrapper flex-align-center">
              <div style="flex: 1" class="empty"></div>
              <span class="btn-text" style="flex: 1">Próximo</span>
              <img
                class="arrow"
                style="flex: 1"
                src="assets/icons/right-arrow.svg"
                alt="rightArrow"
              />
            </div>
          </button>
        </div>
      </mat-step>

      <mat-step [stepControl]="form">
        <div class="company__title">
          <h3>Informe sobre a entrega</h3>
        </div>

        <div class="company__form" formGroupName="entrega">
          <ng-template matStepLabel>Entrega</ng-template>

          <mat-form-field appearance="outline">
            <mat-label>Nome do responsável</mat-label>
            <input matInput formControlName="nome_responsavel_entrega" />
          </mat-form-field>

          <div class="group flex-justify-between">
            <mat-form-field appearance="outline" style="margin-right: 10px">
              <mat-label>Data da entrega</mat-label>
              <input
                matInput
                formControlName="data_entrega"
                mask="00/00/0000"
              />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Celular</mat-label>
              <input
                matInput
                formControlName="celular_entrega"
                mask="(00) 0 0000-0000"
                placeholder="(00) 0 0000-0000"
              />
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>Endereço para entrega</mat-label>
            <input matInput formControlName="endereco_entrega" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Cidade</mat-label>
            <input
              matInput
              formControlName="cidade_entrega"
              style="text-transform: capitalize"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" style="margin-right: 10px">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado_entrega">
              <mat-option
                *ngFor="let option of estadosService?.estados"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button
            type="button"
            class="btn"
            mat-raised-button
            matStepperNext
            color="primary"
            [disabled]="!form?.valid"
            (click)="submit()"
          >
            <div class="btn__wrapper flex-align-center">
              <div style="flex: 1" class="empty"></div>
              <span class="btn-text" style="flex: 1">Próximo</span>
              <img
                class="arrow"
                style="flex: 1"
                src="assets/icons/right-arrow.svg"
                alt="rightArrow"
              />
            </div>
          </button>
        </div>
      </mat-step>

      <!-- <mat-step>
        <ng-template matStepLabel>Conclusão</ng-template>

        <div class="company__title">
          <h3>Cadastro concluído!</h3>
        </div>

        <button type="button" class="btn" mat-raised-button matStepperNext color="primary" (click)="test()"
          [disabled]="!form.valid">
          <div class="btn__wrapper flex-align-center">
            <div style="flex: 1;" class="empty"></div>
            <span class="btn-text" style="flex: 1;">Ir para login</span>
            <img class="arrow" style="flex: 1;" src="assets/icons/right-arrow.svg" alt="rightArrow">
          </div>
        </button>
      </mat-step> -->
    </mat-stepper>
  </form>
</div>
