@import "~src/scss/styles";

.app {
  display: flex;

  // min-width: 800px;

  width: 100%;
  height: 100%;

  @media (max-width: 1000px) {
    min-width: auto;
  }

  .app-sidebar {
    width: auto;
    height: 100%;
  }

  .app-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
}

.topbar {
  display: none;

  @media (max-width: 700px) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 75px;
    background-color: $blue-bg;

    img {
      height: 100%;
    }
  }
}

.content {
  height: 100%;
}
