<div class="loader" *ngIf="isLoading | async">
  <app-loader></app-loader>
</div>

<div class="app">
  <div class="app-sidebar" *ngIf="authService.isAuthenticated()">
    <app-sidebar></app-sidebar>
  </div>
  <div class="app-content">
    <div class="topbar" *ngIf="authService.isAuthenticated()">
      <img
        style="height: 100%"
        src="./assets/images/logar-express 1.svg"
        alt="Logo Logar Express"
      />
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
