<div class="card">
  <div class="card__image">
    <img [src]="getImageLink()" [alt]="publicidade.titulo" />
    <button
      *ngIf="!isAdmin && isAnunciante"
      class="card__remover"
      (click)="removerAnuncio()"
      title="Remover anuncio"
    >
      <mat-icon> delete_forever </mat-icon>
    </button>
  </div>

  <div class="card__infos">
    <div class="card__titulo" [title]="publicidade.titulo">
      {{ publicidade.titulo }}
    </div>
    <div class="card__descricao" [title]="publicidade.descricao">
      {{ publicidade.descricao }}
    </div>
    <div class="card__descricao" style="padding: 10px 0;" [title]="publicidade.name">
      Anunciante: {{ publicidade.name }}
    </div>
    <div class="card__comprar">
      <div class="card__preco">
        {{ publicidade.preco | currency: "BRL" }}
      </div>
      <div class="card__botao">
        <button (click)="comprarProduto()">Comprar agora</button>
      </div>
    </div>
    <div class="card__admin" [ngStyle]="{ display: isAdmin ? 'grid' : 'flex' }">
      <p *ngIf="isAnunciante || isAdmin">
        {{ publicidade.codigo_publicidade }}
      </p>
      <button
        *ngIf="isAdmin && publicidade.publicidade_aprovada == 0"
        class="card__aprovar"
        (click)="aprovarAnuncio()"
      >
        Aprovar
      </button>
      <button *ngIf="isAdmin" class="card__reprovar" (click)="removerAnuncio()">
        <ng-container
          *ngIf="
            publicidade.publicidade_aprovada == 1;
            else pendenteDeAprovacao
          "
        >
          Excluir
        </ng-container>
        <ng-template #pendenteDeAprovacao> Reprovar </ng-template>
      </button>
    </div>
  </div>
</div>
