<div class="container">
  <div class="text">Estamos buscando os melhores resultados</div>
  <div class="container__ball">
    <div class="slide-top circulo"></div>
    <div class="slide-bottom circulo"></div>
    <div class="slide-right circulo"></div>
    <div class="slide-left circulo"></div>
  </div>
</div>
